nav {
    font-size: 12pt;
    font-family: 'PT Sans', Arial, sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}

nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
}

html{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul{
    margin: 0;
    padding: 0;
    background-color: #33333364;
    text-align: center;
}
li{
    display: inline-block;
}
li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}
li a:hover{
    color: #33333364;
    font-weight: normal;
}
.menu{
    width: 100%;
    height: 50px;
    text-align: center;
    max-width: 100%;
    background-position: cover;
    background-color: #33333364;
    top: 0;
    position: fixed;
    z-index: 1;
}
.infoimg {
    position: absolute;
    top: 250px; /* 상단에서 200px 떨어지도록 설정 */
    left: 650px;
}

.infotext{
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 150px;
    left: 720px;
    color: #808078;
    font-family: 'Cafe24 Ohsquare';
}


.highlight{
    color: #EBDED3
}
.highlight:hover {
    font-weight: bold; /* 텍스트를 두껍게 만듦 */
    color: #e0a470; /* 텍스트 색상 변경 */
    cursor: pointer;
}

.img1{
    position: absolute;
    top: 250px;
    right: 250px;
}

div{
    color: #FFFFFF;
    font-family: 'Cafe24 Ohsquare';
    font-size: 13px;
}
.tname1 {
    width: 70px;
    height: 28px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #EBDED3;
    text-decoration-color: #808078;
    text-align: center;
    position: absolute;
    top: 340px;
    left: 685px;
    color: #333;
}
.t1 {
    position: absolute;
    top: 375px;
    left: 690px;
    color: #808078;
}

.tname2 {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #EBDED3;
    text-decoration-color: #808078;
    text-align: center;
    position: absolute;
    top: 405px;
    left: 680px;
    color: #333;
}
.t2 {
    position: absolute;
    top: 440px;
    left: 635px;
    color: #808078;
}

.tname3 {
    width: 110px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #EBDED3;
    text-decoration-color: #808078;
    text-align: center;
    position: absolute;
    top: 475px;
    left: 667px;
    color: #333;
}
.t3 {
    position: absolute;
    top: 510px;
    left: 637px;
    color: #808078;
}


.tname4 {
    width: 55px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #EBDED3;
    text-decoration-color: #808078;
    text-align: center;
    position: absolute;
    top: 540px;
    left: 695px;
    color: #333;
}
.t4 {    
    position: absolute;
    top: 575px;
    left: 708px;
    color: #808078;
}



.tname5 {
    width: 110px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #EBDED3;
    text-decoration-color: #808078;
    text-align: center;
    position: absolute;
    top: 605px;
    left: 670px;
    color: #333;
}
.t5 {
    position: absolute;
    top: 640px;
    left: 595px;
    color: #808078;
}

.tname6 {
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 270px;
    left: 637px;
    font-size: 100px;
}
.p {
    font-size: 300px;
}

.video{
    position: absolute;
    top: 280px;
    left: 30px;
    z-index: 10; /* 추가된 속성 */
}
.video2 {
    position: absolute;
    top: 280px;
    right: 30px;
    z-index: 10; /* 추가된 속성 */
}

.text1{
    font-family: 'Cafe24 Ohsquare';
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 250px;
    color: #808078;
    z-index: 5; /* 필요하다면 추가 */
}
.text2 {
    font-family: 'Cafe24 Ohsquare';
    font-size: 20px;
    position: absolute;
    top: 250px;
    right: 300px;
    color: #808078;
    z-index: 5; /* 필요하다면 추가 */
}


.instagram {
    position: absolute;
    top: 800px;
    left: 650px;
}
.github {
    position: absolute;
    top: 785px;
    left: 750px;
}
.blog {
    position: absolute;
    top: 800px;
    left: 868px;
}
.thread {
    position: absolute;
    top: 800px;
    left: 980px;
}

.sub1-1 {
    width: 180px;
    height: 25px;
    border-radius: 20px;
    background-color: #e0a470;
    position: absolute;
    top: 800px;
    left: 650px;
    opacity: 0.0;
}
.sub1-1:hover {
    background-color: #333;
    opacity: 1.0;
}
.sub1-2 {
    width: 180px;
    height: 25px;
    border-radius: 20px;
    background-color: #e0a470;
    position: absolute;
    top: 800px;
    left: 750px;
    opacity: 0.0;
}
.sub1-2:hover {
    background-color: #333;
    opacity: 1.0;
}
.sub1-3 {
    width: 180px;
    height: 25px;
    border-radius: 20px;
    background-color: #e0a470;
    position: absolute;
    top: 800px;
    left: 868px;
    opacity: 0.0;
}
.sub1-3:hover {
    background-color: #333;
    opacity: 1.0;
}
.sub1-4 {
    width: 180px;
    height: 25px;
    border-radius: 20px;
    background-color: #e0a470;
    position: absolute;
    top: 800px;
    left: 980px;
    opacity: 0.0;
}
.sub1-4:hover {
    background-color: #333;
    opacity: 1.0;
}

.contect-box {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 30px;
    color: #333;
}
.contect-box:hover {
    width: 170px;
    height: 140px;
}
.email {
    opacity: 0.0;
}
.contect-box:hover > .email{
    color: #6c75ad;
    position: absolute;
    top: 40px;
    font-size: 15px;
    font-family: 'Cafe24 Ohsquare';
    left: 10px;
    opacity: 1.0;
}

.phone {
    opacity: 0.0;
}

.contect-box:hover .phone {
    opacity: 1.0;
    color: #6c75ad;
    font-size: 15px;
    position: absolute;
    top: 90px;
    left: 10px;
}
.re_email{
    opacity: 0.0;
}
.contect-box:hover .re_email {
    opacity: 1.0;
    color: #333;
    font-size: 10px;
    position: absolute;
    top: 63px;
    left: 10px;
}

.re_phone{
    opacity: 0.0;
}
.contect-box:hover .re_phone {
    opacity: 1.0;
    color: #333;
    font-size: 10px;
    position: absolute;
    top: 110px;
    left: 10px;
}
